Support HTTP Header If-None-Match in Update Interactions

In case one likes to only create a resource using [update-as-create](https://hl7.org/fhir/http.html#upsert) if the resource don't already exists, the HTTP header `If-None-Match` can be used with the value `*`. Support for this header was added into the FHIR specification by [FHIR-28495](https://jira.hl7.org/browse/FHIR-28495). 

The relevant section in the HTTP specification can be found [here](https://datatracker.ietf.org/doc/html/rfc7232#section-3.2). The spec says:

>If-None-Match can also be used with a value of "*" to prevent an
   unsafe request method (e.g., PUT) from inadvertently modifying an
   existing representation of the target resource when the client
   believes that the resource does not have a current representation
   ([Section 4.2.1 of [RFC7231]](https://datatracker.ietf.org/doc/html/rfc7231#section-4.2.1)).  This is a variation on the "lost
   update" problem that might arise if more than one client attempts to
   create an initial representation for the target resource.